# Node.js
node_modules/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# VSCode
.vscode/

# React
/build
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# IDE-specific
.idea/
*.iml

# Otros
*.log
*.sqlite3